.App {
  text-align: center;
}

.inputarea {
  margin: 50px auto 30px;
  width: 500px;
  overflow: hidden;
}
.input {
  padding: 3px 7px;
  width: 83%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #ccc;
  float: left;
  box-sizing: border-box;
}
.input:focus {
  outline: 0;
  border: 2px solid #2196f3;
}
.btn {
  width: 15%;
  height: 40px;
  float: right;
  border: none;
}
.btn--orange,
.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.btn--radius {
  border-radius: 10px 10px 10px 10px;
}
.outarea {
  width: 500px;
  margin: 0 auto;
  background-color: burlywood;
}
